/* Global Styles */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
  }
  
  /* Logo Styles */
  header {
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
  }
  header .logo {
    max-width: 150px;
    width: auto;
  }

  header i{
    color: #1ABC9C;
    padding: 7px;
    border: 2px solid #1ABC9C;
    border-radius: 5rem;
    transition: 0.7s;
  }
  header i:hover{
    border: 2px solid white;
    color: white;
    transition: 0.7s;
  }
  
  /* Container with the background image */
  .container {
    background: url('https://i.postimg.cc/TY28jTqJ/bg4-ia.jpg') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Content div for text and button */
  .content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 8px;
  }
  
  .content h2 {
    margin-bottom: 20px;
  }
  input{
    padding-left: 1rem;
    width: 100%;
    height: 1.5rem;
    border-radius: 2rem;
    border: none;
  }
  /* Button Styles */  
  button {
    height: 2rem;
    margin: 10px;
    border: none;
    background: #ff1b7b;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
    border-radius: 2rem;
  }
  button:hover {
    background-color: #1ABC9C;
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 10px;
  }