body {
    background: url("https://i.postimg.cc/TY28jTqJ/bg4-ia.jpg") no-repeat center
      center fixed;
    background-size: cover;
    font-family: "Gabarito", sans-serif;
    margin: 20px;
  }
  
  header {
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
  }
  header .logo {
    max-width: 150px;
    width: auto;
  }

  header i{
    color: #1ABC9C;
    padding: 7px;
    border: 2px solid #1ABC9C;
    border-radius: 5rem;
    transition: 0.7s;
  }
  header i:hover{
    border: 2px solid white;
    color: white;
    transition: 0.7s;
  }
  
  /* Caixa principal do jogo */
  .conteudo-jogo {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px #ff1b7b;
    margin: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .conteudo-jogo:hover {
    background: rgba(0, 0, 0);
    box-shadow: 0 0 5px #19caca;
  }
  
  /* Títulos e textos */
  h2,
  p {
    color: white;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background: #ff1b7b;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    width: 50%;
  }
  
  button:hover {
    background: #19caca;
  }